*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}
a{
  text-decoration: none;
  color: inherit;
}
h1{
  text-align: center;
  font-size: 4vw;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin-top: 20px;
  border-top: 1px solid #111;
}

main{
  display: flex;
  height: 100%;
  width: 100%;
}
.App{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.sub-title{
  font-weight: 300;

}